{
    "printWidth": 120, 
    "jsxBracketSameLine": true,
    "arrowParens": "avoid",
    "semi": true,
    "tabWidth": 2,
    "useTabs": false,
    "trailingComma": "es5",
    "singleAttributePerLine": false
  }
  